      <header>
         <h1>Car Rental Online</h1>
      </header>
      <nav>
         <a href="cliente-reservas-page.html" onclick="router.route(event);">Reservas</a>
         <a href="clientes-disponibilidad-page.html" onclick="router.route(event);">Disponibilidad</a>
         <a href="cliente-perfil-page.html" onclick="router.route(event);">Perfil</a>
         <a href="invitado-home-page" onclick="router.controller.signout(event)">Salir</a>


      </nav>
      <div class="status-bar">
         <ul>
            <li class="red"><b>Ok</b></li>
            <li class="green"><b>Error</b></li>
            <li class="blue">Info</li>
         </ul>
      </div>
      <section>
         <article>
            <header>
               <h2>Bienvenido Cliente</h2>
            </header>
            <p>Sistema de gestión de reserva de vehículos para la práctica de la asignatura Tecnologías y Sistemas Web
            </p>
            <p>Escuela Superior de Ingeniería Informática de Albacete</p>
            <p>Universidad de Castilla-La Mancha</p>
         </article>

      </section>