<header>
    <h1>Car Rental Online</h1>
 </header>
 <nav>
   <a href="invitado-signup-page" onclick="router.route(event);">Registro</a>
   <a href="invitado-signin-page" onclick="router.route(event);">Ingreso</a>
   <a href="invitado-disponibilidad-page.html">Disponibilidad</a>

 </nav>
 <div class="status-bar">
   <ul id = "estado">
       <li class="green"><b>Ok</b></li>
       <li class="red"><b>Error</b></li>
       <li class="blue">Info</li>
    </ul>
 </div>
 <section>
    <article>
       <header>
          <h2>Página no encontrada</h2>
       </header>
       <p id="url"></p>
    </article>
 </section>
</nav>

