<header>
    <h1>Car Rental Online</h1>
 </header>
 <nav>
   <a href="invitado-signup-page.html"><b>Registro</b></a>
   <a href="invitado-signin-page.html"><b>Ingreso</b></a>
   <a href="invitado-disponibilidad-page.html"><b>Disponibilidad</b></a>

 </nav>
 <div class="status-bar">
    <ul>
       <li class="red"><b>Ok</b></li>
       <li class="green"><b>Error</b></li>
       <li class="blue">Info</li>
    </ul>
 </div>
 <section>
    <article>
       <header>
          <h2>Página no encontrada</h2>
       </header>
       <p id="url"></p>
    </article>
 </section>
</nav>

