<header>

    <h1>Car Rental Online</h1>
</header>
<nav>
    <a href="empleado-reservas-page.html" onclick="router.route(event);">Vehiculos</a>
    <a href="empleado-vehiculos-page.html" onclick="router.route(event);">Vehiculos</a>
    <a href="invitado-home-page" onclick="router.controller.signout(event)">Salir</a>

</nav>
<div class="status-bar">
    <ul id = "estado">
        <li class="green"><b>Ok</b></li>
        <li class="red"><b>Error</b></li>
        <li class="blue">Info</li>
    </ul>
</div>
<section>

    <h2>Perfil Empleado</h2>

  <form id="setPerfilFormId" action="/empelado/index.html" method="POST">
    <div class="form-row3">
      <label for="dni">DNI*</label>
      <input
        type="text"
        id="dni"
        name="dni"
        required
        placeholder="Ingrese DNI"
        pattern="[0-9]{8}[A-Za-z]"
      />
    </div>

    <div class="form-row">
      <label for="usuarioNombres"><b>Nombres*</b></label>
      <input
        type="text"
        id="nombre"
        name="nombre"
        required
        placeholder="Ingrese nombres"
        maxlength="20"
        pattern="[A-Za-z]+"
      />
    </div>

    <div class="form-row">
      <label for="apellido"><b>Apellidos*</b></label>
      <input
        type="text"
        id="apellido"
        name="apellido"
        required
        placeholder="Ingrese apellidos"
        maxlength="20"
        pattern="[A-Za-z]+"
      />
    </div>

    <br />

    <label for="direccion"><b>Dirección*</b></label>
    <textarea
      id="direccion"
      name="direccion"
      rows="3"
      cols="10"
      required
      placeholder="Ingrese dirección"
    ></textarea>

    <div class="form-row">
      <label for="email"><b>E-mail*</b></label>
      <input
        type="text"
        id="email"
        name="e-mail"
        required
        placeholder="Ingrese correo"
        pattern="[a-zA-Z0-9!#$%&'*\/=?^_`\{\|\}~\+\-]([\.]?[a-zA-Z0-9!#$%&'*\/=?^_`\{\|\}~\+\-])+@[a-zA-Z0-9]([^@&%$\/\(\)=?¿!\.,:;]|\d)+[a-zA-Z0-9][\.][a-zA-Z]{2,4}([\.][a-zA-Z]{2})?"
      />
    </div>

    <div class="form-row">
      <label for="telefono "><b>Teléfono*</b></label>
      <input
        type="tel"
        id="telefono"
        name="telefono"
        required
        placeholder="Ingrese teléfono"
        pattern="[0-9]+"
      />
    </div>

    <br />

    <div class="form-row">
      <label for="contrasena1"><b>Contraseña*</b></label>
      <input
        type="password"
        id="contrasena1"
        name="contrasena"
        required
        placeholder="Ingrese contraseña"
      />
    </div>

    <div class="form-row">
      <label for="contrasena2"><b>Repita la contraseña*</b></label>
      <input
        type="password"
        id="contrasena2"
        name="contrasena2"
        required
        placeholder="Repita contraseña"
      />
    </div>

    <p><small>*Campos obligatorios</small></p>
    <input
      id="agregarInputButtonId"
      value="Guardar"
      name="accion"
      type="submit"
      onclick="router.controller.setPerfil(event);"
    />
  </form>
</section>
