<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style.css" type="text/css">
    <title>Formulario de Vehículo</title>
</head>

<body>
    <header>
        <h1>Car Rental Online</a></h1>
    </header>
    <nav>
        <a href="sign-up.html"><b>Registro</b></a>
        <a href="sign-in.html"><b>Ingreso</b></a>
    </nav>
    <div class="status-bar">
        <ul>
            <li class="red">Ok</li>
            <li class="green">Error</li>
            <li class="blue">Info</li>
        </ul>
    </div>
    <h2>Vehículos Disponibles</h2>

    <div class="grid">
        <div class="cell">
            <div class="cell-header">Marca 1</div>
            <div class="cell-header2">Modelo 1</div>
            <img class="cell-image" src="" alt="">
            <p class="cell-description">Descripción de la celda 1.</p>
            <a class="cell-button" href="/invitado/signin.html?disponibilidadMatricula=AAA000">Reservar</a>
        </div>
        <div class="cell">
            <div class="cell-header">Marca 2</div>
            <div class="cell-header2">Modelo 2</div>
            <img class="cell-image" src="" alt="">
            <p class="cell-description">Descripción de la celda 2.</p>
            <a class="cell-button" href="/invitado/signin.html?disponibilidadMatricula=AAA000">Reservar</a>
        </div>
        <div class="cell">
            <div class="cell-header">Marca 3</div>
            <div class="cell-header2">Modelo 3</div>
            <img class="cell-image" src="" alt="">
            <p class="cell-description">Descripción de la celda 3.</p>
            <a class="cell-button" href="/invitado/signin.html?disponibilidadMatricula=AAA000">Reservar</a>
        </div>
        <div class="cell">
            <div class="cell-header">Marca 4</div>
            <div class="cell-header2">Modelo 4</div>
            <img class="cell-image" src="" alt="">
            <p class="cell-description">Descripción de la celda 4.</p>
            <a class="cell-button" href="/invitado/signin.html?disponibilidadMatricula=AAA000">Reservar</a>
        </div>
        <div class="cell">
            <div class="cell-header">Marca 5</div>
            <div class="cell-header2">Modelo 5</div>
            <img class="cell-image" src="" alt="">
            <p class="cell-description">Descripción de la celda 5.</p>
            <a class="cell-button" href="/invitado/signin.html?disponibilidadMatricula=AAA000">Reservar</a>
        </div>
        <div class="cell">
            <div class="cell-header">Marca 6</div>
            <div class="cell-header2">Modelo 6</div>
            <img class="cell-image" src="" alt="">
            <p class="cell-description">Descripción de la celda 6.</p>
            <a class="cell-button" href="/invitado/signin.html?disponibilidadMatricula=AAA000">Reservar</a>
        </div>
        
    </div>
    <footer>
        Tecnologías y Sistemas Web
     </footer>
</body>
</html>






