      <header>
         <h1>Car Rental Online</h1>
      </header>
      <nav>
        <a href="signup" onclick="router.route(event);"><b>Registro</b></a>
        <a href="signin" onclick="router.route(event);"><b>Ingreso</b></a>
        <a href="invitado-disponibilidad-page" onclick="router.route(event);"><b>Disponibilidad</b></a>

      </nav>
      <div class="status-bar">
         <ul>
            <li class="red"><b>Ok</b></li>
            <li class="green"><b>Error</b></li>
            <li class="blue">Info</li>
         </ul>
      </div>
      <section>
         <article>
            <header>
               <h2>Bienvenido Invitado</h2>
            </header>
            <p>Sistema de gestión de reserva de vehículos para la práctica de la asignatura Tecnologías y Sistemas Web</p>
            <p>Escuela Superior de Ingeniería Informática de Albacete</p>
            <p>Universidad de Castilla-La Mancha</p>
         </article>
      </section>