<!DOCTYPE html>
<html>

<head>
   <title>Car Rental Online Web Site</title>
   <link rel="stylesheet" href="../style.css" type="text/css">
   <meta charset="UTF-8">
</head>

<body>
   <main>
      <header>
         <h1>Car Rental Online</h1>
      </header>
      <nav>
        <a href="invitado-signup-page.html"><b>Registro</b></a>
        <a href="invitado-signin-page.html"><b>Ingreso</b></a>
        <a href="invitado-disponibilidad-page.html"><b>Disponibilidad</b></a>

      </nav>
      <div class="status-bar">
         <ul>
            <li class="red"><b>Ok</b></li>
            <li class="green"><b>Error</b></li>
            <li class="blue">Info</li>
         </ul>
      </div>
      <section>
         <article>
            <header>
               <h2>Bienvenido Invitado</h2>
            </header>
            <p>Sistema de gestión de reserva de vehículos para la práctica de la asignatura Tecnologías y Sistemas Web</p>
            <p>Escuela Superior de Ingeniería Informática de Albacete</p>
            <p>Universidad de Castilla-La Mancha</p>
         </article>
      </section>
      <footer>
         Tecnologías y Sistemas Web
      </footer>
   </main>
</body>

</html>