<header>
  <h1>Car Rental Online</h1>
</header>
<nav>
  <a href="invitado-signin-page" onclick="router.route(event);">Ingreso</a>
  <a href="listar-disponibilidad-page"><b>Disponibilidad</b></a>
</nav>
<div class="status-bar">
  <ul>
    <li class="green"><b>Ok</b></li>
    <li class="red"><b>Error</b></li>
    <li class="blue">Info</li>
  </ul>
</div>
<section>
  <h2>Registro</h2>

  <form id="agregarFormId" method="GET" action="">
    <div class="form-row3">
      <label for="usuarioRol">Rol de Usuario*</label>
      <select id="usuarioRol" name="usaurioRol">
        <option value="Cliente">Cliente</option>
        <option value="Empleado">Empleado</option>
      </select>
    </div>

    <div class="form-row3">
      <label for="usuarioDni">DNI*</label>
      <input
        type="text"
        id="usuarioDni"
        name="usuarioDni"
        required
        placeholder="Ingrese DNI"
        pattern="[0-9]{8}[A-Za-z]"
      /><br />
    </div>

    <div class="form-row3">
      <label for="usuarioNombres"><b>Nombres*</b></label>
      <input
        type="text"
        id="nombre"
        name="nombre"
        required
        placeholder="Ingrese nombres"
        maxlength="20"
        pattern="[A-Za-z]+"
      />
    </div>

    <div class="form-row3">
      <label for="usuarioApellidos"><b>Apellidos*</b></label>
      <input
        type="text"
        id="apellido"
        name="apellido"
        required
        placeholder="Ingrese apellidos"
        maxlength="20"
        pattern="[A-Za-z]+"
      />
    </div>

    <div class="form-row">
      <label for="usuarioEmail"><b>E-mail*</b></label>
      <input
        type="text"
        id="email"
        name="email"
        required
        placeholder="Ingrese correo"
        pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+"
      />
    </div>

    <div class="form-row">
      <label for="usuarioTelefono "><b>Teléfono*</b></label>
      <input
        type="tel"
        id="telefono"
        name="telefono"
        required
        placeholder="Ingrese teléfono"
        pattern="[0-9]+"
      />
    </div>

    <br />

    <label for="usuarioDireccion"><b>Dirección*</b></label>
    <textarea
      id="direccion"
      name="direccion"
      rows="3"
      cols="10"
      required
      placeholder="Ingrese dirección"
    ></textarea>

    <br />

    <div class="form-row">
      <label for="usuarioPassword1"><b>Contraseña*</b></label>
      <input
        type="password"
        id="contrasena1"
        name="contrasena"
        required
        placeholder="Ingrese contraseña"
      />
    </div>

    <div class="form-row">
      <label for="usuarioPassword2"><b>Repita la contraseña*</b></label>
      <input
        type="password"
        id="contrasena2"
        name="contrasena"
        required
        placeholder="Repita contraseña"
      />
    </div>
    
    <p><small>*Campos obligatorios</small></p>
    <input
    id="agregarInputButtonId"
    value="Registrarse"
    name="accion"
    type="submit"
    onclick="router.controller.signup(event);"
  />
  </form>
</section>
