<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style.css" type="text/css">
    <title>Formulario de Vehículo</title>
</head>

<body>
    <header>
        <h1>Car Rental Online</a></h1>
    </header>
    <nav>
        <a href="listar-disponibilidad.html"><b>Disponibilidad</b></a>
        <a href="perfil.html"><b>Perfil</b></a>
        <a href="index.html"><b>Salir</b></a>
    </nav>
    <div class="status-bar">
        <ul>
            <li class="red">Ok</li>
            <li class="green">Error</li>
            <li class="blue">Info</li>
        </ul>
    </div>
    <h2>Listado de reservas</h2>
    <table>
        <thead>
          <tr>
            <th>Código</th>
            <th>Matrícula</th>
            <th>Inicio</th>
            <th>Fin</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="codigo"><a href="http://localhost:3000/carrental-online/cliente/verreserva.html?reservaCodigo=0000000000000001">0000000000000001</a></td>
            <td>Matrícula</td>
            <td>05/10/2023 10:00</td>
            <td>16/10/2023 10:00</td>
          </tr>
          <tr>
            <td class="codigo"><a href="http://localhost:3000/carrental-online/cliente/verreserva.html?reservaCodigo=0000000000000002">0000000000000002</a></td>
            <td>Matrícula</td>
            <td>05/10/2023 10:00</td>
            <td>16/10/2023 10:00</td>
          </tr>
          <tr>
            <td class="codigo"><a href="http://localhost:3000/carrental-online/cliente/verreserva.html?reservaCodigo=0000000000000003">0000000000000003</a></td>
            <td>Matrícula</td>
            <td>05/10/2023 10:00</td>
            <td>16/10/2023 10:00</td>
          </tr>
        
        </tbody>
        <tfoot>
          <tr>
            <td colspan="4">Reservas: 3</td>
          </tr>
        </tfoot>
      </table>
      <footer>
        Tecnologías y Sistemas Web
     </footer>
      </body>
      </html>