<!DOCTYPE html>
<html>

<head>
   <title>Car Rental Online Web Site</title>
   <link rel="stylesheet" href="../style.css" type="text/css">
   <meta charset="UTF-8">
</head>

<body>
   <main>

      <header>
         <h1>Car Rental Online</h1>
      </header>

      <nav>
         <a href="listar-reservas.html"><b>Reservas</b></a>
         <a href="listar-disponibilidad.html"><b>Disponibilidad</b></a>
         <a href="perfil.html"><b>Perfil</b></a>
         <a href="index.html"><b>Salir</b></a>
      </nav>

      <div class="status-bar">
         <ul>
            <li class="red"><b>Ok</b></li>
            <li class="green"><b>Error</b></li>
            <li class="blue">Info</li>
         </ul>
      </div>

      <section>
         <article>
            <header>
               <h2>Reserva</h2>
            </header>
            <form method="GET" action="listar-reservas.html">

               <!-- Campo oculto para almacenar el valor del botón -->
               <input type="hidden" name="reservaCodigo" value="AAAAAAAAAAAAAAAAAAAA">

               <div class="form-row">
                  <label for="Código">Código</label>
                  <p class="margin-top0">AAAAAAAAAAAAAAA</p>
               </div>

               <div class="form-row">
                  <label for="Fecha">Fecha</label><br>
                  <p class="margin-top0">2001-01-01T 10:00</p>
               </div>

               <div class="form-row2">
                  <label for="Inicio">Inicio</label>
                  <p class="margin-top0">2001-01-01T 10:00</p>
               </div>

               <div class="form-row2">
                  <label for="Fin">Fin</label>
                  <p class="margin-top0">2001-01-01T 10:00</p>
               </div>

               <div class="form-row2">
                  <label for="Entrega">Entrega</label>
                  <p class="margin-top0">2001-01-01T 10:00</p>
               </div>

               <div class="form-row2">
                  <label for="Devolucion">Devolucion</label><br>
                  <p class="margin-top0">2001-01-01T 10:00</p>
               </div>

               <h3>Cliente</h3>

               <div class="form-row3">
                  <label for="DNI">DNI</label>
                  <p class="margin-top0">00000X</p>
               </div>

               <div class="form-row3">
                  <label for="Nombres">Nombres</label>
                  <p class="margin-top0">Nombres</p>
               </div>

               <div class="form-row3">
                  <label for="Apellidos">Apellidos</label><br>
                  <p class="margin-top0">Apellidos</p>
               </div>

               <div class="form-row3">
                  <label for="Direccion">Direccion</label><br>
                  <p class="margin-top0">Ejemplo de Direccion</p>
               </div><br>

               <div class="form-row">
                  <label for="Telefono">Telefono</label>
                  <p class="margin-top0">+000 0000000000</p>
               </div>

               <div class="form-row3">
                  <label for="Email">Email</label><br>
                  <p class="margin-top0">cliente@email.com</p>
               </div>

               <h3>Vehículo</h3>

               <div class="form-row3">
                  <label for="Matricula">Matricula</label>
                  <p class="margin-top0">AAA000</p>
               </div>

               <div class="form-row3">
                  <label for="Marca">Marca</label>
                  <p class="margin-top0">Marca</p>
               </div>

               <div class="form-row3">
                  <label for="Modelo">Modelo</label><br>
                  <p class="margin-top0">Modelo</p>
               </div>

               <div class="form-row3">
                  <label for="Tipo">Tipo</label>
                  <p class="margin-top0">Modelo</p>
               </div>

               <div class="form-row3">
                  <label for="Etiqueta">Etiqueta</label>
                  <p class="margin-top0">ETIQUETA</p>
               </div>

               <div class="form-row3">
                  <label for="Costo por dia">Costo por dia</label><br>
                  <p class="margin-top0">€ 0.00</p>
               </div>

               <div class="form-row3">
                  <label for="Descripcion">Descripcion</label><br>
                  <p class="margin-top0">Es un ejemplo de descripcion</p>
               </div><br>

               <div class="form-row3">
                  <label for="Disponible">Disponible</label>
                  <p class="margin-top0">NO</p>
               </div>

               <div class="form-row3">
                  <label for="Eliminado">Eliminado</label>
                  <p class="margin-top0">NO</p>
               </div>

               <div class="form-row3">
                  <label for="Revision">Revision</label><br>
                  <p class="margin-top0">NO</p>
               </div>

               <div class="boton-centrado">
                  <input type="submit" value="Anular"><br>
               </div>
            </form>
         </article>
      </section>

      <footer>
         Tecnologías y Sistemas Web
      </footer>

   </main>
</body>

</html>