<header>
  <h1>Car Rental Online</h1>
</header>
<nav>
  <a href="signup" onclick="router.route(event);">Registro</a>
  <a href="listar-disponibilidad.html"><b>Disponibilidad</b></a>
</nav>
<div class="status-bar">
  <ul>
    <li class="green"><b>Ok</b></li>
    <li class="red"><b>Error</b></li>
    <li class="blue">Info</li>
  </ul>
</div>
<section>
  <div class="contenido">
    <h2><b>Ingresar</b></h2>
    <form id="signinFormId" action="/cliente/index.html" method="get">
      <div class="form-row3">
        <label for="usuarioRol">Rol de Usuario*</label>
        <select id="usuarioRol" name="usuarioRol">
          <option value="Cliente">Cliente</option>
          <option value="Empleado">Empleado</option>
        </select>
      </div>

      <div class="form-group">
        <label for="usuarioEmail" class="required-label">E-mail:</label>
        <input
          type="email"
          id="usuarioEmail"
          name="usuarioEmail"
          class="large-width"
          required
        /><br />
      </div>

      <div class="form-group">
        <label for="usuarioPassword" class="required-label">Contraseña:</label>
        <input
          type="password"
          id="usuarioPassword"
          name="usuarioPassword"
          class="large-width"
          required
        /><br />
      </div>

      <input
        id="agregarInputButtonId"
        value="Inciar Sesion"
        name="accion"
        type="submit"
        onclick="router.controller.signin(event);"
      />
    </form>
  </div>
</section>
