<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style.css" type="text/css">
    <title>Ingresar</title>

</head>

<body>
    <header>
        <h1>Car Rental Online</h1>
    </header>
    <nav>
        <a href="sign-up.html"><b>Registro</b></a>
        <a href="listar-disponibilidad.html"><b>Disponibilidad</b></a>

    </nav>
    <div class="status-bar">
        <ul>
            <li class="green"><b>Ok</b></li>
            <li class="red"><b>Error</b></li>
            <li class="blue">Info</li>
        </ul>
    </div>
    <section>
    <div class="contenido">
        <h2><b>Ingresar</b></h2>
        <form action="/cliente/index.html" method="get">

                            
            <div class="form-row3">
                <label for="rolUsuario">Rol de Usuario*</label>
                <select id="rolUsuario" name="rolUsuario">
                  <option value="Cliente">Cliente</option>
                  <option value="Empleado">Empleado</option>
                </select>
              </div>

            <div class="form-group">
            <label for="usuarioEmail" class="required-label">E-mail:</label>
            <input type="email" id="usuarioEmail" name="usuarioEmail" class="large-width" required><br>
            </div>

            <div class="form-group">
            <label for="usuarioPassword" class="required-label">Contraseña:</label>
            <input type="password" id="usuarioPassword" name="usuarioPassword" class="large-width" required><br>
            </div>

            <input type="submit" value="Ingresar">
        </form>
    </div>
    <footer>
        Tecnologías y Sistemas Web
    </footer>
</body>

</html>