      <header>
         <h1>Car Rental Online</h1>
      </header>
      <nav>
         <a href="empleado-reservas-page">Reservas</a>
         <a href="empleado-vehiculos-page">Vehiculos</a>
         <a href="empleado-perfil-page">Perfil</a>
         <a href="invitado-home-page" onclick="router.controller.signout(event);">Salir</a>

      </nav>
      <div class="status-bar">
         <ul id = "estado">
            <li class="green"><b>Ok</b></li>
            <li class="red"><b>Error</b></li>
            <li class="blue">Info</li>
         </ul>
      </div>
      <section>
         <article>
            <header>
               <h2>Bienvenido Empleado</h2>
            </header>
            <p>Sistema de gestión de reserva de vehículos para la práctica de la asignatura Tecnologías y Sistemas Web</p>
            <p>Escuela Superior de Ingeniería Informática de Albacete</p>
            <p>Universidad de Castilla-La Mancha</p>
         </article>
      </section>